.sidebar {
    height: 100%;
    background-color: #54150c;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    justify-content: center;
    align-items: center;

    padding: 0.5em;
}

.sidebar .button {
    width: 70%;

    aspect-ratio: 1/1;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.sidebar .button:hover {
    transform: scale(1.01);
    cursor: pointer;

}

.icon {
    width: 60%;
    filter: invert(1);
}