.pos {
    height: 100%;

    display: grid;
    grid-template-columns: 70% 30%;
}

.itemsContainer {
    display: flex;
    gap: 1em;

    overflow: hidden;
    flex-wrap: wrap;
    overflow: auto;

    align-content: flex-start;

    padding: 2em;
    box-sizing: border-box;
    background-color:#e76959;

}

.itemsPanel {
    width: 225px;
    height: 270px;

    aspect-ratio: 1/1;
    border: 3px solid #830b09;
    border-radius: 10px;
    padding: 0.5em;
    color: white;

    display: grid;
    grid-template-rows: 3.5fr 1fr;

    user-select: none;
}

.itemsPanel .itemImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsPanel .info {
    text-align: center;
}

.itemsPanel:hover {
    cursor:pointer;
    transform: scale(1.01);
}

.itemsPanel .itemImg {
    width: 95%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-bottom: 0.5em;
    object-fit: contain;

}

.calculatorContainer {
    display: grid;
    overflow: hidden;

    grid-template-rows: 60% 40%;
    padding: 0.5em;

    background-color: #54150c;
}

.calculator {
    box-sizing: border-box;
    margin-top: 0.5em;
}

.calculator .calcButton {
    border: 1px solid #E2DADD;
    font-size: 1em;
    background-color: #7A1E2B;
    color: #E2DADD;
}

.calculator .calcButton:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.calculator .calcButton:nth-child(1) {grid-area: seven}
.calculator .calcButton:nth-child(2) {grid-area: eight}
.calculator .calcButton:nth-child(3) {grid-area: nine}
.calculator .calcButton:nth-child(4) {grid-area: four}
.calculator .calcButton:nth-child(5) {grid-area: five}
.calculator .calcButton:nth-child(6) {grid-area: six}
.calculator .calcButton:nth-child(7) {grid-area: one}
.calculator .calcButton:nth-child(8) {grid-area: two}
.calculator .calcButton:nth-child(9) {grid-area: three}
.calculator .calcButton:nth-child(10) {grid-area: twoZero}
.calculator .calcButton:nth-child(11) {grid-area: oneZero}
.calculator .calcButton:nth-child(12) {grid-area: backspace}
.calculator .calcButton:nth-child(13) {grid-area: clear}
.calculator .calcButton:nth-child(14) {grid-area: cancelOrder}
.calculator .calcButton:nth-child(14) {grid-area: enter; font-size: larger;}

.calculator {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;

    grid-template-areas: 
    "seven eight nine backspace"
    "four five six clear"
    "one two three enter"
    "twoZero twoZero oneZero enter"
    "twoZero twoZero oneZero cancelOrder";
}
